.div {
  width: 100%;
  height: 100vh;
}

.div svg {
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
  color: var(--main);
}

.div .main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  overflow: hidden;
}

.div .main .left-content {
  text-align: center;
  flex: 2;
}
.div .main .right-content {
  width: 50%;
}

.div .main .left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div .main .left-content .sns a:hover {
  transform: scale(1.2);
}

.div .main .left-content h1 {
  color: var(--main);
  font-size: 36px;
  font-weight: bold;
}

.div .main .left-content h2 {
  font-size: 28px;
  font-weight: 100;
}

.div .main .left-content h3 {
  font-size: 32px;
  font-weight: 200;
}
.div .main .left-content button {
  margin-top: 10px;
  padding: 10px;
  outline: none;
  border-radius: 20px;
  border: 1px solid var(--main);
  width: 120px;
  transition: 0.6s;
  color: var(--main);
  cursor: pointer;
  background-color: transparent;
  align-self: center;
}

.div .main .left-content button:hover {
  border: none;
  background-color: var(--main);
  color: white;
  transform: scale(1.2);
}

.div .main .right-content .image {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .div .main {
    flex-direction: unset;
    gap: unset;
    overflow: unset;
  }
  .div .main .right-content {
    align-self: flex-end;
    flex: 1.5;
  }

  .div .main .left-content {
    padding-left: 1px;
    flex: 1;
    text-align: unset;
    padding-left: 18px;
  }

  .div .main .left-content button {
    align-self: unset;
  }
}
