@import "../../scss/variables";
@import "../../scss/mixins";

.div {
  width: 100%;
  height: 100vh;

  svg {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    color: $main;
  }

  .main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    overflow: hidden;

    .left-content {
      text-align: center;
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        color: $main;
        font-size: 36px;
        font-weight: 100;
      }

      h2 {
        font-size: 28px;
        font-weight: bold;
      }

      h3 {
        font-size: 32px;
        font-weight: 200;
      }

      button {
        margin-top: 10px;
        padding: 10px;
        outline: none;
        border-radius: 20px;
        border: 1px solid $main;
        width: 120px;
        transition: 0.6s;
        color: $main;
        cursor: pointer;
        background-color: transparent;
        align-self: center;

        @include desktop {
          align-self: flex-end;
        }
      }

      button:hover {
        border: none;
        background-color: $main;
        color: white;
        transform: scale(1.2);
      }

      .sns {
        a:hover {
          transform: scale(1.2);
        }
      }

      @include desktop {
        padding-left: 1px;
        flex: 1;
        text-align: unset;
        padding-left: 18px;
        text-align: right;
      }
    }

    .right-content {
      width: 70%;

      .image {
        width: 100%;
      }

      @include desktop {
        align-self: flex-end;
        flex: 1.5;
      }
    }

    @include desktop {
      flex-direction: unset;
      gap: unset;
      overflow: unset;
    }
  }
}
