.div {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px 0px;
}

.div svg {
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
  color: var(--main);
}

.div .main {
  height: 100%;
}

.div .main .left-content, 
.div .main .right-content {
  width: 50%;
  padding: 0;
  margin: 0;
  margin: 0 auto;
}

.div .main .right-content {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  height: 70%;
}
.div .main .right-content h1 {
  color: var(--accent);
}
.div .main .right-content p {
  color: var(--accent);
  font-weight: 100;
  font-size: 12px;
  width: 100%;
  text-align: center;
  padding: 10px 10px 0 0;
}
.div .main .right-content .dash {
  display: none;

}
.div .main .right-content .btns {
  width: 100%;
  padding-top: 10px;
}
.div .main .right-content .btns .first {
  outline: unset;
  background-color: none;
  margin-right: 10px;
  background-color: var(--secondary);
  color: var(--accent);
  border: none;
  transition: 0.4s;
  border: 2px solid var(--secondary);
}
.div .main .right-content .btns .first svg {
  color: var(--accent);
}

.div .main .right-content .btns .first:hover,
.div .main .right-content .btns .second:hover {
  transform: scale(1.2);
}

.div .main .right-content .btns .second {
  outline: none;
  background-color: none;
  border: 2px solid var(--accent);
  background-color: transparent;
  color: var(--accent);
  transition: 0.4s;
}

.div .main .right-content .btns .second svg {
  color: var(--accent);
}

.div .main .left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

.div .main .left-content .image {
  top: 0;
  left: 0;
  transition: 0.4s;
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
}

@media screen and (min-width: 640px ) {

  .div .main {
    display: flex ;
  }

  .div .main .right-content p {
    width: 70%;
    text-align: unset;
  }

  .div .main .right-content .btns {
    width: 100%;
  }

  .div .main .left-content .image {
    width: 70%;
    align-self: flex-end;
    outline: 10px solid var(--main);
    box-shadow: -20px 20px 0px var(--third);
  }

  .div .main .right-content .dash {
    margin-bottom: 10px;
    height: 5px;
    width: 50px;
    background-color: var(--third);
    display: unset;
  }

  .div {
    padding: 120px 0;
  }

  .div .main .left-content, .div .main .right-content{
    flex: 1;
  }

  .div .main .left-content {
    height: auto;
    margin: 0 auto;
    text-align: center;
    position: unset;

  }

  .div .main .right-content {
    text-align: unset;
    height: unset;
  }
}
