@import "../../scss/variables";
@import "../../scss/mixins";

.tools-container {
  h1 {
    text-align: center;
    font-weight: bold;
    color: $accent;
  }
}

.swiper {
  width: 100%;
  overflow: visible;

  .swiper-wrapper {
    display: flex;

    .swiper-slide {
      background-position: center;
      background-size: cover;
      height: 300px;
      display: flex;
      align-items: center;
      overflow: visible;

      img {
        display: block;
        width: 100%;
        padding: 0 40px 0 0;

        @include tablet {
          padding: unset;
        }
      }
    }
  }
}
