@import "../../scss/variables";
@import "../../scss/mixins";

.header {
  position: fixed;
  padding: 0;
  z-index: 10000;
  background-color: var(--accent);
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 4px var(--main);
}

.header .left-content {
  display: none;
  align-items: center;
}

.header .left-content h1 {
  margin: 0;
  font-size: 16px;
  padding: 0px 20px;
}

.ul {
  text-decoration: none;
  margin-left: auto;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  margin: 0;
}

.ul li {
  margin: 0px 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  font-size: 8px;
}

.ul li:hover {
  color: var(--third);
  transform: scale(1.2);
}

@media screen and (min-width: 640px) {
  .ul li {
    font-size: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .ul li {
    font-size: unset;
  }
  .header .left-content {
    display: flex;
  }
  .header {
    justify-content: space-between;
  }
}
