.div {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  flex-direction: column;
  height: auto;
}
.div .title {
  margin: 0;
  font-weight: bold;
  letter-spacing: 4px;
  color: var(--accent);
  font-size: 48px;
  text-align: center;
}

.div .date {
  color: var(--accent);
}

@media screen and (max-width: 1150px) {
  .div .date {
    color: black;
  }
  .div .button {
    float: right;
  }
}
