@import "../../scss/variables";
@import "../../scss/mixins";

.div {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  flex-direction: column;
  height: auto;

  .button {
    float: right;
  }

  .title {
    margin: 0;
    font-weight: bold;
    letter-spacing: 4px;
    color: $accent;
    font-size: 48px;
    text-align: center;
  }

  .date {
    color: black;
    font-weight: bold;
    font-size: 18px;

    @include desktop {
      color: white;
    }
  }
}
