@import "../../scss/variables";
@import "../../scss/mixins";

.container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;

  .card {
    margin: 10px;
    border: none;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    margin: 10px;
    box-shadow: 5px 5px 10px #0f0f0f59;

    img {
      height: 200px;
      object-fit: cover;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

      @include tablet {
        height: unset;
      }
    }

    p {
      font-size: 18px;

      @include tablet {
        font-size: 16px;
      }
    }
  }

  @include tablet {
    flex-direction: unset;
    margin-right: unset;
  }
}
