@import "../../scss/variables";
@import "../../scss/mixins";

.container {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  margin-bottom: 20px;
  flex-direction: column;
  margin-right: 20px;

  .item {
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
    margin: 10px;
    box-shadow: 5px 5px 10px #0f0f0f59;
    height: 400px;
    @include tablet {
      height: unset;
    }
  }

  @include tablet {
    flex-direction: unset;
    margin-right: unset;
  }
}
