@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: poppins;
}

button {
  cursor: pointer;
  padding: 6px 16px;
  vertical-align: middle;
}

section {
  width: 100%;
  height: 100vh;
}

section.hero {
  background-color: var(--accent);
}

section.about {
  background-color: var(--main);
  height: fit-content;
}

section.works {
  background-color: var(--accent);
  height: fit-content;
  overflow: auto;
  padding: 45px 0;
}

section.timeline {
  background-color: var(--main);
  height: auto;
}

:root {
  --main: #868b8e;
  --secondary: #b9b7bd;
  --accent: #eeede7;
  --third: #e7d2cc;
}

@media screen and (max-width: 576px) {
  section {
    padding: 0px 10px;
  }
}
