@import "./variables";
@import "./mixins";

.sections {
  .hero {
    background-color: $accent;
  }

  .about {
    background-color: $main;
    height: fit-content;
  }

  .tools {
    margin: 0 auto;
    max-width: 1080px;
    padding: 40px 10px;

    @include tablet {
      padding: 120px 10px;
    }
  }

  .works {
    background-color: $accent;
    height: fit-content;
    overflow: auto;
    padding: 45px 0;
  }

  .timeline {
    background-color: $main;
    height: auto;
  }
}
